<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h4 style="text-align: center; color: rgb(117, 117, 117);">DASHBOARD</h4>
        <div class="buttons" style="display: flex; flex-direction: column; ">
            <button id="edit">Edit Profile</button>
            <button id="change">Change Password</button>
            <button id="delete"> DELETE Account</button>
            <form style="align-self: center;" action="/api/dashboard/logout" method="GET">
                <button type="submit">logout</button>
            </form>
        </div>
    </div>







    <!-- Use any element to open the sidenav -->
    <span onclick="openNav()" style="margin:20px 50px 0 0 ;">☰ DASHBOARD</span>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" style="display: flex; flex-direction: column; justify-content: center; width: 800px; height: 500px; align-items: center;">
        <div class="container">
            <p style="text-align: center; margin:5px 0px 5px 5px;">WELCOME TO YOUR PAGE CLICK ON DASHBOARD BUTTON FOR MORE INFORMATION</p>
        </div>
        <div class="edit" style=" overflow: scroll;">
            <div class="edit_box">
                <p>ID:</p>
                <input type="text" id="id" value="<%= user._id %>" disabled>
                <p>USERNAME:</p>
                <input type="text" id="username" value="<%= user.username %>">

                <p>FIRST NAME:</p>
                <input type="text" id="firstName" value="<%= user.firstName %>">
                <p>LAST NAME:</p>
                <input type="text" id="lastName" value="<%= user.lastName %>">


                <p>NUMBER:</p>
                <input type="number" id="number" value="<%= user.mobile %>">
                <p>GENDER:</p>
                <input type="text" id="gender" value="<%= user.sex %>">
            </div>
            <div style="width: 100%; display: flex; justify-content: space-between;">
                <button id="save" style="width: 45%;"> SAVE</button>
                <button id="close" style="width: 45%;">Close</button>
            </div>

        </div>


        <div class="password">
            <input type="password" id="old_pass" placeholder="previous password">
            <input type="password" id="new_pass" placeholder="new password">
            <button id="pass_save">Save</button>
            <button id="pass_close">Close</button>
        </div>

        <div class="delete">
            <input type="password" id="delete_pass" placeholder="enter your password">
            <button id="delete_account">Delete Acount</button>
            <button id="delete_account_close">close</button>
        </div>


    </div>
    <%- include('./partials/modal.ejs') %>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/javascripts/dashboard.js"></script>
</body>

</html>